<nav class="navbar navbar-expand-lg  w-100">
  <div class="container-fluid px-0 justify-content-between align-items-center">
    <a class="navbar-brand" href="" style="color: rgb(248, 8, 8);">Diamond Filmes</a>
    <div class="collapse navbar-collapse mx-auto" id="navbarSupportedContent">
      <ul class="navbar-nav w-100 d-flex justify-content-center">  
        <li class="nav-item ms-auto mb-2 mb-lg-0">
          <form class="form-search " role="search" (ngSubmit)="searchMovies(nameMovie)">
            <input class="form-control me-2 search-tam" #searchInput type="search" placeholder="Search" aria-label="Search" [(ngModel)]="nameMovie" name="nameMovie">
            <button class="btn btn-outline-success btn-search flex-shrink-0 w-10" type="submit"><span class="search-icon" ><i class="fas fa-search" ><img src="../../assets/imagens/search.svg" alt=""></i></span><span class="search-text" ></span></button>
          </form>
        </li>
        <ul class="link-icon ms-auto d-flex ul-icon" >
          <li class="nav-item ms-auto">
            <a href="https://github.com/John-Mota" target="_blank">
              <img src="../../assets/imagens/github_new.png" alt="">
            </a>
          </li>
            <li class="nav-item">
              <a href="https://www.linkedin.com/in/john-mota-026044203/" target="_blank">
                <img src="../../assets/imagens/linkedin_new.png" alt="">
              </a>
            </li>
        </ul>
      </ul>
    </div>
  </div>
</nav>


  