.navbar {
    background-color: #232323;
   
  }

  .navbar-brand {
    font-size: 30px;
    font-weight: bold;
    margin-left: 30px;
  }
  
  .form-search {
    display: flex;
  }
  
  
  .nav-link {
    color: whitesmoke !important;
    font-size: 18px;
  }
  
  .nav-link:hover {
    color: #f72c2c !important;
  }
  
  .input-search {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .form-control {
    background-color: #232323;
    color: whitesmoke;
    border-color: #f72c2c;
  }
  
  .btn-search {
    background-color: #f72c2c;
    border-color: #f72c2c;
    margin-left: -30px;
    
  }

  .search-tam {
    align-items: end;
    width: 300px;
  }
  
  .btn-search:hover {
    background-color: #a00404;
    color: black;
    display: inline-block;
    text-align: center;
  }

  /* CSS para os icones git e linkedin*/

  .ul-icon > li {
    margin: 0 8px;
  }
  
  .ul-icon {
    margin-right: 20px;
  }

  
  