img {
    max-width: 100%;
    max-height: 90vh;
    display: block;
    margin: auto;
    cursor: zoom-in;
    background-color: hsl(0, 0%, 90%);
    transition: background-color 300ms;
  }

  .img-body {
   margin-top: 70px;
  }
  
  .full-screen-image {
    max-width: 100%;
    height: auto;
    display: block;
    
    margin: auto;
    margin-bottom: 10px;
    cursor: zoom-out;
    background-color: hsl(0, 0%, 90%);
    transition: background-color 300ms;
  }
  
 .btn-color {
    background-color: #f72c2c;
    color: black;
    border: solid 1px black;
 }

 .btn-color:hover {
    background-color: #a00404;
 } 