.app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    z-index: 9999; /* Defina um valor de z-index adequado para garantir que o header fique acima de outros elementos */
  }
  