.row {
  margin: 0 auto;
}

.title-home {
  color: #f72c2c;
  text-align: center;
}

/* CSS para ajustar os titúlos do mesmo tamanho*/
.title-tam {
  height: 90px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-tam {
  width: 25vw;
  padding-top: 7px;
  height: 360;
  margin-bottom: auto;
}

.card-tam img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-color {
  background-color: #f72c2c;
  color: black;
  border: solid 1px black;
}

.btn-color:hover {
  background-color: #a00404;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

@media (min-width: 576px) {
  .card-tam {
    max-width: 160px;
    margin-right: 10px;
  }
  
  
}

@media (min-width: 768px) {
  .card-tam {
    max-width: 200px;
    
  }
  
}

@media (min-width: 992px) {
  .card-tam {
    max-width: 240px;
  }
}

@media (min-width: 1200px) {
  .card-tam {
    max-width: 280px;
  }
}

@media only screen and (min-width: 768px) {
  .d-flex.justify-content-md-between {
    justify-content: space-between !important;
  }
  .col-lg-3 {
    max-width: 19% !important;
  }
}

.card-title {
  font-size: 18px;
}

@media (max-width: 575px) {
  .card-title {
    font-size: 12px;
  }
}

@media (min-width: 576px) {
  .card-title {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .card-title {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .card-title {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .card-title {
    font-size: 28px;
  }
}
