
<h1>{{ movieTitle}}</h1>


    <div class="row d-flex justify-content-center align-items-center" *ngIf="movies.length > 0">
      <div class="col-sm-6 col-md-4 col-lg-3 card-tam" *ngFor="let movie of movies">
        <div class="card mb-3 tam-padrao">
          <a [routerLink]="['/detalhes', movie.id]">
            <img [src]="getImageUrl(movie.poster_path)" class="card-img-top img-fluid w-100" alt="{{movie.title}}">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{ movie.title }}</h5>
            
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ movie.release_date }}</small>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="movies.length == 0">
      <p>No movies found.</p>
    </div>
  
  