<h1 class="cabecalho">DETALHES</h1>

<div *ngIf="movie" class="container borda  my-5">
    <div class="row d-flex justify-content-center align-items-center" >
        <div class="col-sm-12 col-md-6 align-items-center">
            <img class="img-tam img-fluid" [src]="getImageUrl(movie.poster_path)" alt="Poster do filme">
        </div>
        <div class="col-sm-12 col-md-4 text-center text-md-left" style="color: aliceblue;">
            <h1>{{ movie.title}}</h1>
            <p>{{movie.overview}}</p>
            <p>Lnçamento: {{ movie.release_date }}</p>
            <p>Nota: {{ movie.vote_average | number: '1.2-2'}}</p>
        </div> 
    </div>
</div>



